# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects MariaDB Ansible role.
#
# The Webarchitects MariaDB Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects MariaDB Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects MariaDB Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: MariaDB configuration file templated
  block:

    - name: "Set a fact for the MariaDB configuration file backup path for {{ mariadb_cnf.path }}"
      ansible.builtin.set_fact:
        mariadb_cnf_file_path_backup: "{{ mariadb_cnf.path | ansible.builtin.dirname }}/{% if mariadb_cnf.path | ansible.builtin.basename is not regex('^[.]') %}.{% endif %}{{ mariadb_cnf.path | ansible.builtin.basename }}.{{ ansible_facts.date_time.iso8601_basic_short }}.bak"

    - name: MariaDB configuration file backup present
      ansible.builtin.copy:
        src: "{{ mariadb_cnf.path }}"
        dest: "{{ mariadb_cnf_file_path_backup }}"
        remote_src: true
        mode: "{{ mariadb_cnf.mode | default('0644') }}"
        owner: "{{ mariadb_cnf.owner | default('root') }}"
        group: "{{ mariadb_cnf.owner | default('root') }}"
      when: mariadb_cnf_file_path.stat.exists | bool

    - name: MariaDB configuration file templated
      ansible.builtin.template:
        src: mariadb.j2
        dest: "{{ mariadb_cnf.path }}"
        mode: "{{ mariadb_cnf.mode | default('0644') }}"
        owner: "{{ mariadb_cnf.owner | default('root') }}"
        group: "{{ mariadb_cnf.group | default('root') }}"
      no_log: "{% if mariadb_cnf.path is regex(mariadb_regex.config_path) %}false{% else %}true{% endif %}"
      register: mariadb_cnf_file_templated

    - name: Notify handler to restart MariaDB
      ansible.builtin.debug:
        msg: MariaDB is to be restarted
      notify: Restart mariadb
      when:
        - mariadb_cnf_file_templated is defined
        - mariadb_cnf_file_templated.changed is defined
        - mariadb_cnf_file_templated.changed | bool
        - mariadb_init is defined
        - mariadb_init == "systemd"
      tags:
        - debug

    - name: MariaDB configuration file backup absent when originial file is unchanged
      ansible.builtin.file:
        path: "{{ mariadb_cnf_file_path_backup }}"
        state: absent
      when:
        - mariadb_cnf_file_path.stat.exists | bool
        - not mariadb_cnf_file_templated.changed | bool

  tags:
    - maradb
    - maiadb_conf
...
