# Copyright 2018-2023 Chris Croome
#
# This file is part of the Webarchitects MariaDB Ansible role.
#
# The Webarchitects MariaDB Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects MariaDB Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects MariaDB Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Skip the tasks in this role
  ansible.builtin.debug:
    msg: "The MariaDB role tasks are not being run since the mariadb variable is false."
  when: not mariadb | bool
  tags:
    - mariadb

- name: MariaDB
  block:

    - name: MariaDB include verify tasks
      ansible.builtin.include_tasks: verify.yml
      when:
        - mariadb_verify is defined
        - mariadb_verify | bool
      tags:
        - mariadb_verify

    - name: MariaDB local facts tasks
      block:

        - name: Include apt role local fact tasks
          ansible.builtin.include_role:
            name: apt
            tasks_from: local_facts.yml
          when: >-
            ( ansible_local.bash.path is not defined ) or
            ( ansible_local.dpkg.installed is not defined )

        - name: Legacy /etc/ansible/facts.d/mariadb_root.fact file absent
          ansible.builtin.file:
            path: /etc/ansible/facts.d/mariadb_root.fact
            state: absent
          register: mariadb_root_fact

        - name: Re-read Ansible local facts  # noqa: no-handler
          ansible.builtin.setup:
            filter: ansible_local
          when: mariadb_root_fact.changed | bool

      tags:
        - mariadb_local_facts

    - name: Install and remove MariaDB packages
      block:

        - name: MariaDB packages present
          ansible.builtin.apt:
            pkg: "{{ mariadb_pkgs_present | ansible.builtin.difference(ansible_local.dpkg.installed) }}"
            state: present
            update_cache: false
          register: mariadb_install
          when:
            - mariadb_pkgs_present is defined
            - mariadb_pkgs_present != []
            - ansible_local.dpkg.installed is defined
            - mariadb_pkgs_present | ansible.builtin.difference(ansible_local.dpkg.installed) != []

        - name: MariaDB packages absent
          ansible.builtin.apt:
            pkg: "{{ mariadb_pkgs_absent | ansible.builtin.intersect(ansible_local.dpkg.installed) }}"
            state: present
            update_cache: false
          register: mariadb_remove
          when:
            - mariadb_pkgs_absent is defined
            - mariadb_pkgs_absent != []
            - ansible_local.dpkg.installed is defined
            - mariadb_pkgs_absent | ansible.builtin.intersect(ansible_local.dpkg.installed) != []

        - name: Include apt role local fact tasks  # noqa: no-handler
          ansible.builtin.include_role:
            name: apt
            tasks_from: local_facts.yml
          when: >-
            ( ( mariadb_install.changed is defined ) and
            ( mariadb_install.changed | bool ) ) or
            ( ( mariadb_remove.changed is defined ) or
            ( mariadb_remove.changed | bool ) )

      tags:
        - mariadb_install

    - name: Check variables and gather MariaDB info
      ansible.builtin.include_tasks: checks.yml
      when:
        - ansible_local.dpkg.installed is defined
        - ( "mariadb-server" in ansible_local.dpkg.installed )
        - ( "python3-mysqldb" in ansible_local.dpkg.installed )
      tags:
        - mariadb_checks
        - mariadb_info

    - name: Configure MariaDB
      block:

        - name: Stat /etc/mysql/my.cnf
          ansible.builtin.stat:
            path: /etc/mysql/my.cnf
          register: mariadb_etc_my_cnf

        - name: Conditionally include the update-alternatives tasks
          ansible.builtin.include_tasks: update.yml
          when:
            - mariadb_etc_my_cnf.stat is defined
            - not mariadb_etc_my_cnf.stat.islnk | bool

        - name: Run mysql_upgrade
          ansible.builtin.command: mysql_upgrade
          register: mariadb_upgrade
          changed_when: ( "This installation of MariaDB is already upgraded" not in mariadb_upgrade.stdout )

        - name: Include the MariaDB configuration file tasks
          ansible.builtin.include_tasks: conf.yml
          loop: "{{ mariadb_config }}"
          loop_control:
            loop_var: mariadb_cnf
            label: "{{ mariadb_cnf.name | default(mariadb_cnf.path) }}"
          when:
            - mariadb_config is defined
            - mariadb_config != []

        - name: Include the systemd role
          ansible.builtin.include_role:
            name: systemd
            tasks_from: unit_present.yml
          loop: "{{ mariadb_systemd_units }}"
          loop_control:
            loop_var: systemd_unit
            label: "{{ systemd_unit.name }}"
          notify: Reload systemd
          when:
            - mariadb_systemd_units is defined
            - mariadb_systemd_units != []

        - name: Conditionally include the MariaDB sys schema tasks
          ansible.builtin.include_tasks: sys.yml
          when:
            - mariadb_sys_schema | bool
            - ( "sys" not in mariadb_databases )
            - mariadb_version is ansible.builtin.version('10.6.0', 'lt')

        - name: Conditionally include the the time zone tables import tasks
          ansible.builtin.include_tasks: tz.yml
          when:
            - mariadb_time_zone_import is defined
            - mariadb_time_zone_import | bool

        - name: Conditionally include the user and database creation tasks
          ansible.builtin.include_tasks: user.yml
          when:
            - mariadb_username is defined
            - mariadb_username | length > 0

        - name: Conditionally include MySQLTuner tasks
          ansible.builtin.include_tasks: mysqltuner.yml
          when:
            - mariadb_mysqltuner is defined
            - mariadb_mysqltuner | bool
          tags:
            - mariadb_mysqltuner
            - mysqltuner

      when:
        - ansible_local.dpkg.installed is defined
        - ( "mariadb-server" in ansible_local.dpkg.installed )
      tags:
        - mariadb_conf

  when: mariadb | bool
  tags:
    - mariadb
...
