# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects MariaDB Ansible role.
#
# The Webarchitects MariaDB Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects MariaDB Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects MariaDB Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
# - name: Ansible core >= 2.16.0
#   block:
#
#     - name: Reload systemd
#       ansible.builtin.systemd_service:
#         daemon_reload: true
#       listen: Reload systemd
#
#     - name: MariaDB restarted
#       ansible.builtin.systemd_service:
#         name: mysql
#         state: restarted
#       listen: Restart mariadb
#
#   when: ansible_version.string is ansible.builtin.version('2.16.0', 'ge')
#   tags:
#     - mariadb

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  listen: Reload systemd
  tags:
    - mariadb

- name: MariaDB restarted
  ansible.builtin.systemd:
    name: mysql
    state: restarted
  listen: Restart mariadb
  tags:
    - mariadb

- name: Ensure MariaDB is running
  ansible.builtin.service_facts:
  register: mariadb_service_facts
  until: (mariadb_service_facts | community.general.json_query(mariadb_jpq.service)).state == "running"
  retries: 10
  delay: 2
  listen: Restart mariadb
  tags:
    - mariadb
...
