# {{ ansible_managed }}
[Service]
NoNewPrivileges={{ mariadb_systemd_no_new_privileges | default('false') }}
PrivateNetwork={{ mariadb_systemd_private_network | default('false') }}
PrivateTmp={{ mariadb_systemd_private_tmp | default('false') }}
# vim: set ft=systemd:
