#!/usr/bin/env bash
# {{ ansible_managed }}

set -euo pipefail

mariadb="{{ mariadb_path }}"
mariadb_host="{{ mariadb_host }}"
mariadb_port="{{ mariadb_port }}"
uid=$(id -u)

if [[ "${uid}" == 0 && -f "${mariadb}" ]]; then

  plugin=$("${mariadb}" -h "${mariadb_host}" -P "${mariadb_port}" -BNe "SELECT plugin FROM user WHERE Host='${mariadb_host}' AND User='root'" mysql)
  declare -i NO=$(echo "${plugin}" | wc -l)

  if (( NO == 1 )); then
    jo state=present plugin="${plugin}"
  elif (( NO > 1 )); then
    jo state=present plugin=$(jo -a $(echo "${plugin}" | tr '\n' ' '))
  else
    echo "Sorry $0 was unable to find the MariaDB root authentication plugin(s)"
    echo 1
  fi

else
  jo state=absent
fi

